<div class="container mt-3 shadow-md">
    <div class="row">
        <div class="col-lg-7 card card-body mx-5">
            <div class=" ms-3 mb-2">
                <div class="row" *ngFor="let item of orderDetailsObject.products;let i=index">
                    <div class="col-lg-3 my-2">
                        <img src={{item.img}} class="card-img-top" alt="...">
                    </div>
                    <div class="col-lg-6 ms-5">
                        <h3 class="card-title">{{item.title}}</h3>
                        <h4 class="card-text" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">
                            {{item.details}}</h4>
                        <h4>Price: <span class="">{{item.price | currency:"INR"}}</span></h4>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
        <div class="col-lg-3 card card-body customClass">

            <div class="">
                <h3>Total Price: <span class="ms-4">{{orderDetailsObject.todalPrice | currency:"INR"}}</span></h3>
                <h3>Discount: <span class="ms-5">20%</span></h3>
                <h2>Final Price: <span class="ms-4">{{orderDetailsObject.finalPrice | currency:"INR"}}</span></h2>
            </div>
        </div>
    </div>
</div>